
/* styles.css */

/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a background color and font styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: inherit;
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
    height: 0;
    /* 1 */
    color: inherit;
    /* 2 */
    border-top-width: 1px;
    /* 3 */
  }

  /*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
  }

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
    color: inherit;
    text-decoration: inherit;
  }
  
  /*
  Add the correct font weight in Edge and Safari.
  */
  
  b,
  strong {
    font-weight: bolder;
  }



/* Header styles */
header {
    text-align: center;
    padding: 20px;
    background-color: #469fec;
    color: #fff;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header img {
    max-width: 100%;
    border-radius: 50%;
}

/* Navigation styles */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
}

nav li {
    margin-right: 20px;               
    
}


nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Main content styles */
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (min-width: 800px) {
    section{
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}


section h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

/* Project styfes */
.project {
    margin-bottom: 20px;
}

.project h3 {
    font-size: 1.4rem;
    margin-bottom: 5px;
}

.project p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.project a {
    color: #0074D9;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
